#clockContainer{
  position: relative;
  width: 45vw;
  height: 45vw;
  margin:  auto ;
  background-image: url(clockimg.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}
#hour , #minute , #second{

  background-color: black;
  position: absolute;
  border-radius: 10px;
  transform-origin: bottom;

}
#hour{
  width: 1.5%;
  height: 20%;
  top: 30%;
  left: 49.5%;
}
#minute{
  width: 1%;
  height: 26%;
  top: 24%;
  left: 49.8%;
}
#second{
  width: 0.3%;
  height: 28%;
  top: 22%;
  left: 49.9%;

}
